body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}

.wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    bottom: 0;
    background-color: rgba(116, 213, 106, 0.5);
}

.stdDiv{
background-color: white;
}

#videoBG {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    object-fit: cover;
    z-index: -2;
}

.headline {
    margin: 20px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    text-align: center;
    background-color: yellow;
    color: black;   
    z-index: 1;
}

.normalText{
    color: white;
}

#imgPersonalFoto {
    margin: 30px;
    background-color: beige;
    display: flex;
    justify-content: left;
    align-items: left;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
    max-width: 150px;
   
}

#imgLinks {
    margin: 30px;
    background-color: gray;
    display: flex;
    justify-content: left;
    align-items: left;
    border-width: 5px;
    border-color: white;
    border-style: solid;  
    max-width: 100px;
   
}

#img:hover {
    transform: scale(1.1)
}
